<style>

</style>

<div id="<%= dom_id article %>">
  <p class="text-center font-weight-bold">
    <%= article.title %>
  </p>

  <p class="text-center"> ~ 
    <%= article.content %>
    ~
  </p>

  <p class="text-center">
  <img width="25%" height="25%" src=" <%= article.image %> "  >
  </p>

</div>
